#include <dt-bindings/zmk/keys.h>

#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <150>;

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

/ {
    combos {
        compatible = "zmk,combos";

        combo_return {
            timeout-ms = <COMBO_TERM_SLOW>;
            bindings = <&kp RET>;
            key-positions = <LT3 LT2>;
            COMBO_HOOK
        };

        // left hand symbols
        combo_exclamation {
            timeout-ms = <COMBO_TERM_SLOW>;
            bindings = <&kp RET>;
            key-positions = <LT4 LM4>;
            COMBO_HOOK
        };
    };
};